@import "~bootstrap/scss/bootstrap";
@import "custom";

// bs not showing placeholder
// on floating labels by default
// https://github.com/twbs/bootstrap/issues/33999
.form-floating > .form-control:focus {
  &::placeholder {
    color: $input-placeholder-color !important;
  }
}

.form-floating.col > label {
  padding-left: var(--bs-gutter-x);
  padding-right: var(--bs-gutter-x);
}

// remove arrows from input[type=number]
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* Chrome, Safari, Edge, Opera */
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  /* Firefox */
  -moz-appearance: textfield;
}

.btn-group .btn {
  flex-basis: 50%;
  position: relative;
}

// hide radio as we are styling a button group on top
.form-check-input[type="radio"] {
  // visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  background-color: transparent;
}

.form-check-input:checked[type="radio"] {
  opacity: 0;
}

.form-check.form-check-inline {
  margin: 0;
  padding: 0;
}

// splash and main transition
.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 750ms ease;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 750ms ease;
}
